<!DOCTYPE html>
<html lang="pt-br">
<link rel="shortcut icon" href="#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clash Metrics | Dashboard</title>
    <!-- chart js lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="http://www.chartjs.org/dist/2.7.1/Chart.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- estático js script -->
    <script src="/js/side-bar.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Freeman&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="/js/graficos-simulativo-dashboard.js" defer></script>

    <!-- chart js lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="http://www.chartjs.org/dist/2.7.1/Chart.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/graphic-dashboard.js" defer></script>

    <!-- styles -->
    <link rel="stylesheet" href="/css/global-style.css">
    <link rel="stylesheet" href="/css/side-bar.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/header-main.css">
</head>

<body>
    <aside class="side-bar">
        <div class="logo-wrapper">
            <img src="/assets/icon/full-logo.png" />
        </div>
        <div class="profile-wrapper">
            <div class="profile-picture">
                <% if(userProfile == null || userProfile == 'null') { %>
                    <img src="/assets/img/profile.jpg" />
                <%}else{%>
                    <img src="/upload/user/<%= userProfile %>" />
                <%}%>
            </div>
            <span>Jogador</span>
            <h4><%= userName %></h4>
            <script>
            </script>
        </div>
        <div class="line-side-bar"></div>
        <nav class="nav-side-bar">
            <ul class="accordion-menu">
                <li class="nav-normal-item dash-on">
                    <a href="/dashboard">
                        <img width="17" height="17" src="https://img.icons8.com/ios-filled/50/FFFFFF/sparkling--v1.png" 
                        alt="sparkling--v1"/>
                        Dashboard
                    </a>
                </li>
                <li class="nav-normal-item">
                    <a href="/feed">
                        <img width="17" height="17"
                        src="https://img.icons8.com/material-outlined/24/FFFFFF/dashboard-layout.png">
                        Feed
                    </a>
                </li>
                <li class="nav-normal-item">
                    <a href="/chat">
                        <img width="17" height="17" src="https://img.icons8.com/ios-filled/50/FFFFFF/speech-bubble-with-dots.png"
                         alt="speech-bubble-with-dots"/>
                        Chat Global
                    </a>
                </li>
                <li class="nav-normal-item">
                    <a href="">
                        <img width="17" height="17" src="https://img.icons8.com/glyph-neue/64/FFFFFF/trophy.png"
                         alt="trophy"/>
                        Ranking
                    </a>
                </li>
            </ul>
        </nav>
        <div class="footer-aside">
            <div class="logout-container">
                <form action="/dashboard/logout" method="get">
                    <button type="submit" class="btn-logout">
                        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/f13939/logout-rounded.png"
                        alt="logout-rounded" />
                        Sair
                    </button>
                </form>
            </div>
        </div>
    </aside>
    <main class="main-dashboard">

        <header class="header-dashboard">
            <div class="left-header">
                <% 
                    let yearsPlayed = 0
                    for (let i = 0; i < player.badges.length; i++) {
                        if (player.badges[i].name === 'YearsPlayed') {
                            yearsPlayed = player.badges[i].level;
                            break;
                        }
                    }
                %>
                <h1><%= player.name %></h1>
                <span><%= player.tag %> | <span style="color: #D855DC; font-weight: bolder;"><%= yearsPlayed %> anos de experiência</span></span>
                <div class="detail-wrapper">
                    <div class="upper-detail">
                        <img src="./assets/icon/trophy.png"> <span><span><%= player.trophies %> Troféus</span> | <b><%= player.arena.name %></b></span>
                    </div>
                    <div class="below-detail">
                        <div class="img-wrapper">
                            <img src="<%= player.badgeUrl %>" alt="Clan Badge">
                        </div>
                        <div class="text-wrapper">
                            <p class="clan-span"><b><%= player.clanName %></b></p> 
                            <p><%= player.clanTag %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-header">
                <div class="img-wrapper">
                    <%
                        let leagueNumber = 1; // Define leagueNumber como 0 por padrão

                        // Verifica se player.currentPathOfLegendSeasonResult não é nulo ou indefinido e se leagueNumber não é nulo ou indefinido
                        if (player.currentPathOfLegendSeasonResult && player.currentPathOfLegendSeasonResult.leagueNumber !== null && player.currentPathOfLegendSeasonResult.leagueNumber !== undefined) {
                            leagueNumber = player.currentPathOfLegendSeasonResult.leagueNumber;
                        }
                    %>
                    <img src="https://cdn.royaleapi.com/static/img/arenas-fs8/128x128/league<%= leagueNumber %>-fs8.png?t=87d3ea2fc?2"/>
                </div>
            </div>
        </header>
        <section class="analytic-body">

            <div class="left-data">
                <h2>Deck atual</h2>
                <div class="deck-wrapper">
                    <% let elixirSumCost = 0%>
                    <% for (let i = 0; i < player.currentDeck.length ; i++) { %>
                        <% if(i % 4 === 0){ %>
                            <div class="row-card">
                        <% } %>
                        
                        <div class="card">
                            <img src="<%= player.currentDeck[i].iconUrls.medium %>">
                        </div>
    
                        <% if(i % 4 === 3){ %>
                            </div>
                        <% } %>
                        
                        <% elixirSumCost += player.currentDeck[i].elixirCost %>
                        
                    <% } %>
                    <div class="elixir">
                        <img src="./assets/icon/elixir.png"></p>
                        <p><%= (elixirSumCost / 8).toFixed(1) %></p>
                    </div>
                </div>
                <div class="left-data-detail">
                    <div class="img-wrapper">
                        <img src="<%= player.currentDeckSupportCards[0].iconUrls.medium %>">
                    </div>
                    <div class="text-wrapper">
                        <p>Suporte: <span><%= player.currentDeckSupportCards[0].name %></span></p>
                    </div>
                </div>
            </div>
            <div class="line-data"></div>
            <div class="right-data">
                <h2>Estatística do Jogador</h2>
                <div class="body">
                    <div class="inner-body">
                        <div class="left-inner-body">
                            <table>
                                <tr>
                                  <th>Batalhas & Diversões</th>
                                  <th></th>
                                </tr>
                                <tr style="background-color: #e2e2e2;">
                                  <td>Total de batalhas</td>
                                  <td><span style="font-weight: bolder;"><%= player.battleCount %></span></td>
                                </tr>
                                <tr>
                                    <td>Vitórias</td>
                                    <td><span style="font-weight: bolder; color: green;"><%= player.wins %></span></td>
                                </tr>
                                <tr style="background-color: #e2e2e2;">
                                    <td>Derrotas</td>
                                    <td><span style="font-weight: bolder; color: red;"><%= player.losses %></span></td>
                                </tr>
                                <tr>
                                    <td>Modo Diversão</td>
                                    <td><span style="font-weight: bolder; color: rgb(0, 119, 255);"><%= player.battleCount - (player.wins+player.losses) %></span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="right-inner-body">
                            <div>
                                <canvas id="radarChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="line-left"></div>
                    <div class="bottom-body">
                        <div class="bar-chart-wrapper">
                            <div class="graph">
                                <canvas id="graficoDeBarras"></canvas>
                            </div>
                        </div>

                        <% 
                        let totalCards = 0;
                        let commonCount = 0
                        let rareCount = 0
                        let epicCount = 0
                        let legendaryCount = 0
                        let championCount = 0
                        let notFoundCount = 0
                        
                        // Iterar sobre a lista de cartas
                        for (let i = 0; i < player.cards.length; i++) {
                            if(player.cards[i].rarity === 'common'){
                                commonCount++
                            }else if(player.cards[i].rarity === 'rare'){
                                rareCount++
                            }else if(player.cards[i].rarity === 'epic'){
                                epicCount++
                            }else if(player.cards[i].rarity === 'legendary'){
                                legendaryCount++
                            }else if(player.cards[i].rarity == 'champion'){
                                championCount++
                            }
                            totalCards++;
                        }
                        notFoundCount = 111 - totalCards;
                        %>
                        <div class="txt-wrapper">
                            <table>
                                <tr>
                                  <th>Progresso de Cartas</th>
                                  <th><%= player.battleCount %></th>
                                </tr>
                                <tr style="background-color: #e2e2e2;">
                                  <td >Cartas encontradas</td>
                                  <td><span style="font-weight: bolder;"><%= totalCards %>/111</span></td>
                                </tr>
                                <tr>
                                    <td>Comuns</td>
                                    <td><span style="font-weight: bolder; color: #70C0DC;"><%= commonCount %></span></td>
                                </tr>
                                <tr style="background-color: #e2e2e2;">
                                    <td>Raras</td>
                                    <td><span style="font-weight: bolder; color: #E4A432;"><%= rareCount %></span></td>
                                </tr>
                                <tr>
                                    <td>Épicas</td>
                                    <td><span style="font-weight: bolder; color: #D855DC;"><%= epicCount %></span></td>
                                </tr>
                                <tr style="background-color: #e2e2e2;">
                                    <td>Raras</td>
                                    <td><span style="font-weight: bolder; color: #8b8b8b;"><%= legendaryCount %></span></td>
                                </tr>
                                <tr>
                                    <td >Campeões</td>
                                    <td><span style="font-weight: bolder; color: #ffa600;"><%= championCount %></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inputs escondidos -->
        <input type="hidden" id="playerWins" value="<%= player.wins %>">
        <input type="hidden" id="playerLosses" value="<%= player.losses %>">
        <input type="hidden" id="playerFunMode" value="<%= player.battleCount - (player.wins + player.losses)%>">

        <input type="hidden" id="commonCount" value="<%= commonCount %>">
        <input type="hidden" id="rareCount" value="<%= rareCount %>">
        <input type="hidden" id="epicCount" value="<%= epicCount %>">
        <input type="hidden" id="legendaryCount" value="<%= legendaryCount %>">
        <input type="hidden" id="championCount" value="<%= championCount %>">
        <input type="hidden" id="notFoundCount" value="<%= notFoundCount %>">
    </main>
</body>
</html>