<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clash Metrics | Feed</title>
    <link rel="shortcut icon" href="/assets/icon/logo-cut.ico" type="image/x-icon">
    <!-- chart js lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="http://www.chartjs.org/dist/2.7.1/Chart.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- estático js script -->
    <script src="/js/side-bar.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Freeman&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- chart js lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="http://www.chartjs.org/dist/2.7.1/Chart.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/chat.js" defer></script>
    <script src="/js/modal.js" defer></script>
    <script src="/js/modal-error-remove.js" defer></script>
    <script src="/js/modal-registered-remove.js" defer></script>
    <script src="/js/load-post.js" defer></script>

    <!-- styles -->
    <link rel="stylesheet" href="/css/global-style.css">
    <link rel="stylesheet" href="/css/side-bar.css">
    <link rel="stylesheet" href="/css/feed-style.css">
</head>

<body>
    <aside class="side-bar">
        <div class="logo-wrapper">
            <img src="/assets/icon/full-logo.png" />
        </div>
        <div class="profile-wrapper">
            <div class="profile-picture">
                <% if(userProfile == null || userProfile == 'null') { %>
                    <img src="/assets/img/profile.jpg" />
                <%}else{%>
                    <img src="/upload/user/<%= userProfile %>" />
                <%}%>
            </div>
            <span>Jogador</span> <span id="user_id" style="display: none;"><%= userId %></span>
            <h4 id="user_name"><%= userName %></h4>
            <script>
            </script>
        </div>
        <div class="line-side-bar"></div>
        <nav class="nav-side-bar">
            <ul class="accordion-menu">
                <li class="nav-normal-item">
                    <a href="/dashboard">
                        <img width="17" height="17"
                            src="https://img.icons8.com/material-outlined/24/FFFFFF/dashboard-layout.png"
                            alt="dashboard-layout" />
                        Dashboard
                    </a>
                </li>
                <li class="nav-normal-item dash-on">
                    <a href="/dashboard.html">
                        <img width="17" height="17" src="https://img.icons8.com/ios-filled/50/FFFFFF/sparkling--v1.png" 
                        alt="sparkling--v1"/>
                        Feed
                    </a>
                </li>
                <li class="nav-normal-item">
                    <a href="/chat">
                        <img width="17" height="17" src="https://img.icons8.com/ios-filled/50/FFFFFF/speech-bubble-with-dots.png"
                         alt="speech-bubble-with-dots"/>
                        Global Chat
                    </a>
                </li>
                <!-- <li class="nav-normal-item">
                    <a href="">
                        <img width="17" height="17" src="https://img.icons8.com/glyph-neue/64/FFFFFF/trophy.png"
                         alt="trophy"/>
                        Ranking
                    </a>
                </li> -->
            </ul>
        </nav>
        <div class="footer-aside">
            <div class="logout-container">
                <form action="/dashboard/logout" method="get">
                    <button type="submit" class="btn-logout">
                        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/f13939/logout-rounded.png"
                        alt="logout-rounded" />
                        Sair
                    </button>
                </form>
            </div>
        </div>
    </aside>
    <main class="main-dashboard">
        <header class="feed-header">
            <div class="left-header">
                <div class="search-wrapper">
                    <input type="text" placeholder="Pesquisar...">
                    <button>
                        <img width="17" height="17" src="https://img.icons8.com/ios-filled/50/FFFFF/search--v1.png" alt="search--v1"/>
                    </button>
                </div>
            </div>
            <div class="right-header">

            </div>
        </header>
        <div class="inner-main">
            <div class="feed-wrapper">
                <% if (hasPost) { %>
                    <% posts.forEach(post => { %>
                    <div class="post">
                        <div class="post-header">
                            <div class="user-info">
                                <div class="profile-wrapper-post">
                                    <% if(post.usuario.fotoPerfil == null || post.usuario.fotoPerfil == 'null') { %>
                                        <img src="/assets/img/profile.jpg" />
                                    <%}else{%>
                                        <img src="/upload/user/<%= post.usuario.fotoPerfil %>" />
                                    <%}%>
                                </div>
                                <div class="username-wrapper-post">
                                    <p><%= post.usuario.nome %></p>
                                    <% 
                                        const dataCriacaoString = post.dataCriacao;
                                        const dataCriacao = new Date(dataCriacaoString);
                                        const horas = dataCriacao.getHours();
                                        const minutos = dataCriacao.getMinutes();
                                        const horaFormatada = horas < 10 ? "0" + horas : horas;
                                        const minutosFormatados = minutos < 10 ? "0" + minutos : minutos;  
                                    %>
                                    <span><%= post.usuario.gamertag %> - <span><%= `${horaFormatada}:${minutosFormatados}` %></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="img-wrapper">
                                <img src="/upload/post/<%= post.fotoPost %>">
        
                            </div>
                        </div>
                        <div class="post-footer">
                            <div class="upper-footer">
                                <p><%= post.descricao %></p>
                            </div>
                            <div class="footer-line"></div>
                            <div class="bottom-footer">
                                <div class="good-ava">
                                    <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/happy--v1.png" alt="happy--v1"/>
                                    ?
                                </div>
                                <div class="bad-ava">
                                    <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/sad.png" alt="sad"/>
                                    ?
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                <% } %>
                <!-- 1 post -->
                <!-- <div class="post">
                    <div class="post-header">
                        <div class="user-info">
                            <div class="profile-wrapper-post">
                                <img src="/assets/img/profile.jpg" >
                            </div>
                            <div class="username-wrapper-post">
                                <p>jeancharlesx64</p>
                                <span>#XXXXXXXX - <span>22:22</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <div class="img-wrapper">
                            <img src="/assets/img/ss-teste.jfif">
    
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="upper-footer">
                            <p>Alguém gostou desse novo desafio?? Eu achei um pouco dificil</p>
                        </div>
                        <div class="footer-line"></div>
                        <div class="bottom-footer">
                            <div class="good-ava">
                                <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/happy--v1.png" alt="happy--v1"/>
                                12
                            </div>
                            <div class="bad-ava">
                                <img width="30" height="30" src="https://img.icons8.com/material-outlined/24/sad.png" alt="sad"/>
                                4
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="profile-feed">
                <div class="upper-profile-feed">
                    <div class="profile-wrapper">
                        <div class="img-wrapper">
                            <% if(userProfile == null || userProfile == 'null') { %>
                                <img src="/assets/img/profile.jpg" />
                            <%}else{%>
                                <img src="/upload/user/<%= userProfile %>" />
                            <%}%>
                        </div>
                        <button class="edit-img edit-modal" >
                            <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/camera--v1.png" alt="camera--v1"/>
                        </button>
                    </div>
                </div>
                <div class="bottom-profile-feed">
                    <h1>
                        <%= userName %>
                        <button class="btn-edit edit-modal">
                            <img width="19" height="19" src="https://img.icons8.com/ios-glyphs/30/pencil--v1.png" alt="pencil--v1"/>
                        </button>
                    </h1>
                    <span>
                        <%= player.tag %>
                        <button class="btn-edit edit-modal">
                            <img width="19" height="19" src="https://img.icons8.com/ios-glyphs/30/pencil--v1.png" alt="pencil--v1"/>
                        </button>
                    </span>
                </div>
                <div class="middle-profile-feed">
                    <span>Suas postagens</span>
                    <div class="posts">
                        <% if (hasUserPosts) { %>
                            <% userPosts.forEach(userPost => { %>
                                <div class="post-wrapper">
                                    <img src="/upload/post/<%= userPost.fotoPost %>">
                                </div>
                            <% }) %>
                        <% } %>
                    </div>
                    <button class="button-wrapper btn-create green" type="button">
                        <div class="inner-button green">
                            <div class="relevant-button green">
                                <div class="top-relevant-button green">
                                    <div class="shine-ball-button"></div>
                                </div>
                                <span class="text-button">Criar Post</span>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </main>

    <!-- Modal -->
    <div id="editModal" class="modal-edit">
        <div class="modal-edit-content">
            <span class="close-edit">&times;</span>
            <h2>Editar Perfil</h2>
            <form action="/feed/editProfile" METHOD="POST" id="editProfileForm" enctype="multipart/form-data">
                <label for="username">Nome de Usuário:</label><br>
                <input type="text" id="username" name="username" value="<%= userName %>" required><br>
                <label for="gamertag">Gamertag:</label><br>
                <input type="gamertag" id="gamertag" name="gamertag" value="<%= player.tag %>" required><br>
                <label for="picture">Foto de perfil:</label><br>
                <input type="file" id="picture-edit" name="profilePicture" accept="image/*" onchange="previewImageEdit()"><br>
                <div class="img-edit-preview" id="img-edit-preview" >
                    <% if(userProfile == null || userProfile == 'null') { %>
                        <img src="/assets/img/profile.jpg" />
                    <%}else{%>
                        <img src="/upload/user/<%= userProfile %>" />
                    <%}%>
                </div>
                <% if(userProfile == null || userProfile == 'null') { %>
                    <input type="hidden" name="oldProfile" value="null">
                <%}else{%>
                    <input type="hidden" name="oldProfile" value="<%= userProfile %>">
                <%}%>
                <input type="hidden" name="userid" value="<%= userId %>">
                
                <button class="button-wrapper yellow" type="submit">
                <div class="inner-button yellow">
                    <div class="relevant-button yellow">
                        <div class="top-relevant-button yellow">
                            <div class="shine-ball-button"></div>
                        </div>
                        <span class="text-button">Salvar</span>
                    </div>
                </div>
            </button>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div id="createModal" class="modal-create">
        <div class="modal-create-content">
            <span class="close-create">&times;</span>
            <h2>Criar postagem</h2>
            <form id="createProfileForm" action="/feed/createPost" METHOD="POST" enctype="multipart/form-data">
                <label for="description">Descrição do post:</label><br>
                <input type="text" id="description" name="description" placeholder="Compartilhe sua conquista! ;)" required><br>
                <label for="picture">Imagem do post:</label><br>
                <input type="file" id="picture-create" name="postPicture" accept="image/*" onchange="previewImageCreate()" required><br>
                <div class="img-create-preview" id="img-create-preview" >

                </div>
                <input type="hidden" name="userid" value="<%= userId %>">
                <button class="button-wrapper green" type="submit">
                <div class="inner-button green">
                    <div class="relevant-button green">
                        <div class="top-relevant-button green">
                            <div class="shine-ball-button"></div>
                        </div>
                        <span class="text-button">Criar</span>
                    </div>
                </div>
            </button>
            </form>
        </div>
    </div>
    <% if (hasEdited) { %>
        <div id="modalRegistered" class="modal">
            <div class="modal-content" id="modalContent">
                <div class="header-modal-correto">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/FFFFFF/box-important--v1.png"
                        alt="box-important--v1" />
                </div>
                <div class="modal-erros" id="modal_erros">
                   <p style="text-align: center; color: #40be4b;">Perfil editado com sucesso!</p>
                </div>
            </div>
        </div>
    <% } %>
    <% if (hasCreated) { %>
        <div id="modalRegistered" class="modal">
            <div class="modal-content" id="modalContent">
                <div class="header-modal-correto">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/FFFFFF/box-important--v1.png"
                        alt="box-important--v1" />
                </div>
                <div class="modal-erros" id="modal_erros">
                   <p style="text-align: center; color: #40be4b;">Postagem realizada com sucesso!</p>
                </div>
            </div>
        </div>
    <% } %>


    <% if (hasError) { %>
        <div id="modalErro" class="modal">
            <div class="modal-content" id="modalContent">
                <div class="header-modal-erro">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/FFFFFF/box-important--v1.png"
                        alt="box-important--v1" />
                </div>
                <div class="modal-erros" id="modal_erros">
                   <p style="text-align: center; color: red;"> <%= errorMessage %> </p>
                </div>
            </div>
        </div>
    <% } %>
</body>
</html>